$bg-color: #202b33;
$text-color: #f5f8fa;
$button-color: #2b95d6;
$highlight: #f55656;
$border-radius: 5px;
$tree-row-height: 20px;

@import "~normalize.css";
html,
body {
  height: 100%;
  font-family: "Roboto";
  font-size: 15px;
}

body {
  background: $bg-color;
  color: $text-color;
}

#app {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  > * {
    margin: 10px;
  }
}

.tree {
  height: 100%;
  overflow: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.message {
  margin: 10px;
  text-align: center;
  display: block;

  &.danger {
    color: $highlight;
  }
}

.tree-node {
  position: absolute;
  left: 0;
  right: 0;
  height: $tree-row-height;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &.matching {
    color: $highlight;
  }
}

.tree-node-collapse {
  cursor: pointer;
  color: darken(#fff, 30%);
}

input[type="file"] {
  display: none;
}

.file-drop {
  width: 100%;
  text-align: center;

  .fullscreen-drop {
    display: none;
  }

  &.dragging {
    .fullscreen-drop {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 45;

      display: block;
      font-size: 35px;
      text-align: center;
      width: 100%;
      height: 100%;

      background: #000;
      opacity: 0.8;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.material-icons {
  vertical-align: middle;
}

button {
  background: $button-color;
  color: $text-color;
  border: 1px solid darken($button-color, 50%);
  border-radius: $border-radius;
  padding: 10px;
  cursor: pointer;
}

.search-wrapper {
  position: relative;
  .material-icons {
    position: absolute;
    top: 9px;
    left: 5px;
  }
}

.search-input {
  width: calc(100% - 34px * 2);
  padding: 10px 34px;
  background: rgba(0, 0, 0, 0.3);
  color: $text-color;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: $border-radius;

  &.invalid {
    border-color: $highlight;
  }
}
