$bg-color: #202b33;
$text-color: #f5f8fa;
$tree-row-height: 20px;

@import "~normalize.css";
html,
body {
  height: 100%;
}

body {
  background: $bg-color;
  color: $text-color;
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tree {
  height: 100%;
  overflow: auto;
  position: relative;
}

.tree-node {
  position: absolute;
  left: 0;
  height: $tree-row-height;
}
